
body {
	width: 1600px;
}
.GIF {
	width: 1480px;
	height: 440px; 
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img	{
	width: 1480px;
	height: 440px;
}

p {
	display: inline-block;
}

input {
	display: inline-block;
}

.email {
	margin-top: 20px;
	text-align: center;
}

.button {
	margin-left: 20px;
}

.redes {
	padding-right: 60px;
	margin-top: 50px;
	text-align: right;
	/*display: block;
	margin-left: auto;
	margin-right: auto;
*/}

.icon{ 
	height: 36px;
	width: 36px;
}


a {
	text-decoration: none;
}


footer {
	margin-top: 100px;
	text-align: center;	
}