* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 1600px;
} 

.general {
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.GIF {
	width: 1480px;
	height: 440px; 
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img	{
	width: 1480px;
	height: 440px;
}

p {
	display: inline-block;
}

input {
	display: inline-block;
}

.email {
	margin-top: 20px;
	text-align: center;
}

.button {
	margin-left: 20px;
}

.redes {
	margin-top: 50px;
	/*display: flex;
	justify-content: flex-end;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.alinear {
	width: 1480px;
	display: flex;
	justify-content: flex-end;
	
}

.icon{ 
	height: 36px;
	width: 36px;
	margin: 10px;
}

.icon:hover{
	background-color: #ffff99;
}


a {
	text-decoration: none;
}


footer {
	margin-top: 100px;
	text-align: center;	
}