*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 20px 0;
  background: 	#f26868;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

figure{
  display: flex;
  justify-content: center;
}

#logo {
  width: 450px;
  height: 200px;
  margin: 0 auto;
}

#instrucciones {
  font-family: Titan One, 'cursive';
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.arreglar{
  margin-bottom: 20px;
}

.tablero {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pieza {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
}

.pieza,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  border: 4px solid #ffcdab;
  background: #FAB942 url('../img/star.png') no-repeat center center / contain;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #ffcdab;
  border: 4px solid #FAB942;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.marcada {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  background: 	#80b5ff url('../img/steven2.png') no-repeat center center / contain;
}


/*--------------------RESPONSIVE-------------------*/

@media (max-width: 800px) {
  #instrucciones {
    width: 80%;
 }

.pieza,
.back,
.front {
  height: 125px;
  width: 125px;
}

}

@media (max-width: 450px){


  #instrucciones {
     width: 80%;
  }

  .pieza,
  .back,
  .front {
    height: 100px;
    width: 100px;
  }
}