extends layout

block content
	div(id='homeArreglo' class= 'principal')
			div
				h2.fix Biblioteca de libros
				p.fix Estos son mis hermosos libros, que estan disponibles para prestamo o intercambio. Estos libros me encantaron y me gustaria compartirlos con vos! Ojala los disfrutes!
			div
				h3.fix 
					|Haz click 
					a(href="/biblioteca/marked").fix aqui 
					|para ver tus libros seleccionados 
				

				