*{margin: 0;
padding: 0;
 }


header{display: flex;
	justify-content: space-between;
	background: #E54444;
	margin-left: 5%;
}
nav ul{display: flex;
}
nav ul li a{text-decoration:none;
	        list-style:none;
            color:white;
            font-family: 'Hi Melody', cursive;
            font-size:1.8em;
            padding:30px 50px;
}
nav ul li a:hover{background-color:#F37979;
                    border-radius: 5px 5px 0px 0px ; 
}
.InfoPersonal{display: flex;
	          }
.TextoPersonal{display: flex;
               flex-direction: column;}

h1{font-family: 'Jua', sans-serif;
  font-size:3em;
  color: #E54444;
}
body div p{font-family: 'Fira Sans', sans-serif; 
width: 50%;
}
.carrusel{background:#444343;
         width: 100%;
         height: 300px;
}
section{display: flex;
justify-content: space-around;
padding: 20px;}

figure{display: flex;}

.contenedor-img{transition:  all 0.5s;}

.contenedor:hover .contenedor-img{transform: scale(1.15);}

.InformacionPersonal{display: flex;
flex-direction: column;}

