*{margin: 0;
padding: 0;
 }

/*--------------------HEADER-------------------*/
header{
  display: flex;
	justify-content: space-between;
	background: #E54444;
	/*margin-left: 5%;*/
}

#logo {
  height: 100px;
}

nav ul{
  display: flex;
  list-style-type: none;
  }

nav ul li a{
            display: flex;
            align-self: center;
            text-decoration:none;
	          list-style:none;
            color:white;
            font-family: 'Hi Melody', cursive;
            font-size:1.8em;
            padding:30px 50px;
}
nav ul li a:hover{background-color:#F37979;
                    border-radius: 5px 5px 0px 0px ; 
}


/*--------------------INFO ARRIBA-------------------*/

#imgHeader{ 
  padding: 5px;
  height: 200px;
}

h1 {
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-size:3em;
  color: #E54444;
}

h3 {
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-size:1em;
  color: #E54444;
}

a {
  text-decoration: none;
}
.sub {
  text-align: center;
  color: #E54444;
  font-family: 'Jua', sans-serif;
}

.redes1{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.iconos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.icon{
  height: 50px;
  margin: 10px;  
}

.icon:hover {
  transform: scale(1.15);
}

body div p{
  font-family: 'Fira Sans', sans-serif; 
  /*width: 50%;*/
  }

.InfoPersonal{
  display: flex;
  justify-content: space-between;
}

.TextoPersonal{
  padding: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
 justify-content: center;
 text-align: justify;
 }
/*--------------------CARROUSEL-------------------*/
.carrusel {
  background:#444343;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-slide {
padding: 10px;
height: 300px;
}

/*--------------------SECCION PERFIL-------------------*/
section{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: justify;
}
  
.InformacionPersonal{display: flex;
    flex-direction: column;
    justify-content: center;}

.contenedor:hover .contenedor-img{
  transform: scale(1.15);
}

.contenedor {
  width: 300px;
  
}
    
.contenedor-img{transition:  all 0.5s;
  height: 150px;
  margin: 10px;
  
  }

  figure{display: flex;}

    

/*--------------------REDES SOCIALES-------------------*/
.RedesSociales{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E54444; 
}
.icon2 {
  margin: 10px;
  height: 50px;
}

#mail {
  padding: 10px;
  color: white;
}              

.icon2:hover {
  transform: scale(1.15);
}








